html, body {
    overflow: hidden; /* Disable default scrolling on the entire page */
    height: 100%; /* Ensure body takes up full height */
    margin: 0; /* Remove default margin */
    background-color: #393E46; /* Solid background for outside the component */
}

.dot-background {
    position: absolute;
    inset: 0; /* Covers the full viewport */
    height: 4800px;
    width: 4800px;
    overflow: hidden;
    cursor: grab;

    /* Dot pattern */
    /* Dot pattern */
    background-color: #222831; /* Base color */
    z-index: 0;
}


.dot-background.panning {
    cursor: grabbing;
}

.canvas-children {
    position: relative;
    width: 100%;
    height: 100%;
}